<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">  
<log4j:configuration >

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"  value="%-5p [Thread-%t] %d %c{1} | %m %n" />
		</layout>
<!-- 		<filter class="org.apache.log4j.varia.LevelRangeFilter"> -->
<!-- 			<param name="levelMin" value="debug" /> -->
<!-- 			<param name="levelMax" value="warn" /> -->
<!-- 			<param name="AcceptOnMatch" value="true" /> -->
<!-- 		</filter> -->
	</appender>

	<appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">  
		<param name="File" value="log/console.log" />
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p (%c:%L)- %m%n" />
		</layout>
	</appender>

	<appender name="guiAppender" class="com.vincent.core.gui.GUILogAppender" />

	<logger name="com.vincent.core" additivity="false">
		<level value ="info"/> 
		<appender-ref ref="guiAppender" /> 
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="fileAppender"/> 
	</logger>

	<root>
		<level value ="INFO"/>
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="fileAppender"/>  
	</root>
</log4j:configuration>  